{% extends [getParameter('layout')|default(''), '@DakataaCrud/layout/default.html.twig'] %}

{%- block title -%}
    {% if (object is defined) and object.id|default(false) != false %}{{ 'Edit'|trans }}{% else %}{{ 'Add'|trans }}{% endif %}
{% endblock title %}

{% block body %}
    <section class="edit-items">
        {% block header %}
            <header>
                <div class="wrap">
                    <h2 class="title">
                        <a href="javascript:history.back()">&larr;</a>
                        {% block body_title %}
                            {{ block('title') }}
                        {% endblock %}
                    </h2>
                    {% block navigation %}
                        <nav class="nav">
                            {% block tab_navigation_tabs %}
                            {% endblock %}
                        </nav>
                    {% endblock %}

                    {% if not form.modify.view.vars.valid %}
                        {{ form_errors(form.modify.view) }}
                    {% endif %}
                </div>
            </header>
        {% endblock %}
        <main class="tabs">
            <div class="wrap">
                {% block form_start %}
                    {{ form_start(form.modify.view, { action: app.request.uri, 'attr': { novalidate: 'novalidate', autocomplete: 'off', 'data-ajax':'true', 'data-submit': 'true'}}) }}
                {% endblock %}
                <div class="tab-content">
                    {% block tabs %}
                        <div id="edit" class="tab tab-pane active in">
                            {% block form %}
                                {{ form_rest(form.modify.view) }}
                            {% endblock %}
                        </div>
                    {% endblock %}
                </div>
                <div class="actions">
                    {% block actions %}
                        <button class="btn btn-primary btn-save" type="submit">{{ 'Save'|trans }}</button>
                    {% endblock %}
                </div>
                {% block form_end %}
                    {{ form_end(form.modify.view) }}
                {% endblock %}
            </div>
        </main>
    </section>
{% endblock %}
