{% extends [getParameter('layout')|default(''), '@DakataaCrud/layout/default.html.twig'] %}
{% block title %}{{ (title ?? 'List')|trans }}{% endblock %}
{% macro displayFormFieldValue(formField) %}
    {% if formField.vars.choices is defined %}
        {% set values = formField.vars.value is iterable ? formField.vars.value : [formField.vars.value] %}
        {% set labels = formField.vars.choices|filter(c => c.value in values)|map(v => v.label) %}
        {{ labels|join(',') }}
    {% elseif(formField.vars.checked is defined) %}
        Checked
    {% else %}
        {{ formField.vars.data }}
    {% endif %}
{% endmacro %}
{% macro filterList(form) %}
    {% for formField in form.children|filter(formField => formField.vars.data) %}
        {% if formField.children|length %}
            {{ _self.filterList(formField) }}
        {% else %}
            <div class="filters-item d-flex text-nowrap flex-column me-2 mb-2">
                {% set filterVars = form.vars.data|default([])|filter((fv,fk) => fk != formField.vars.name and fv is not empty) %}

                <small class="mb-2">{{ (formField.vars.label ?? formField.vars.name)|capitalize|trans }}</small>
                <div class="btn btn-sm btn-primary me-1 mb-1">
                    {{ _self.displayFormFieldValue(formField) }}
                    <a href="{{ generatePath('list', { filter: filterVars }) }}" class="text-white">
                        &times;
                    </a>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endmacro %}

{% set hasFilters = form.filter.view.vars.data|default([])|filter(v => v)|length %}
{% set identifierField = entity.primaryColumn %}
{% block body %}
    <div class="list">
        <div class="content-header d-md-flex mb-3 justify-content-between align-items-center">
            <h2>
                {% block list_title %}
                    {{ block('title') }}
                {% endblock %}
            </h2>
            <div class="btn-group btn-group-sm">
                {% for action in action|filter(a => false == a.object) %}
                    <a href="{{ generatePath(action.name) }}"
                       class="btn btn-sm btn-outside-secondary">
                        <i class="fas fa-eye"></i>
                        {{ action.title|trans }}
                    </a>
                {% endfor %}

                {% if form.filter %}
                    <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown">
                            {{ 'Filter'|trans }}
                        </button>

                        <div class="dropdown-menu dropdown-menu-right" aria-label="menu">
                            <div class="filter">
                                {{ form_start(form.filter.view, { attr: {'novalidate': 'novalidate'}}) }}
                                {{ form_rest(form.filter.view) }}
                                <div class="mb-3 btn-group-sm">
                                    <button type="submit" class="btn btn-success me-2">{{ 'Search'|trans }}</button>
                                    {% if hasFilters %}
                                        <a class="btn btn-default"
                                           href="{{ generatePath('list', { filter: '' }) }}">{{ 'Reset'|trans }}</a>
                                    {% endif %}
                                </div>
                                {{ form_end(form.filter.view) }}
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if hasFilters %}
                    <a href="{{ generatePath('list', { filter: '' }) }}" class="btn btn-outline-dark">x</a>
                {% endif %}
            </div>
        </div>

        {{ form_start(form.batch.view, { attr: {novalidate: 'novalidate', autocomplete:'off'}}) }}

        {% if hasFilters %}
            <div class="filters d-flex mb-sm overflow-auto">
                {{ _self.filterList(form.filter.view) }}
            </div>
        {% endif %}
        {% if entity.data.items|length %}
            <div class="table-responsive">
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                    <tr>
                        {% if form.batch.view.method is defined and identifierField %}
                            <th style="width: 1%">
                                <input type="checkbox" data-toggle="checkall" data-target=".ids"/>
                            </th>
                        {% endif %}
                        {% for column in entity.columns %}
                            {% set columnHeaderBlock = column.alias ~ '_header' %}
                            {% block columnHeaderBlock %}
                                <th>
                                    {{- column.label|trans -}}
                                    {% if column.sortable and attribute(sort, column.field) is defined %}
                                        {% set currentSortType = attribute(sort, column.field)|default(null) %}
                                        {% set nextSortType = (currentSortType ? (currentSortType == 'ASC' ? 'DESC' : null) : 'ASC') %}
                                        <a href="{{ generatePath('list', { ...app.request.query.all, sort: (sort|default({}))|merge({(column.field): (nextSortType|default('')) }) }) }}">
                                            {% if (currentSortType) %}
                                                {{ (currentSortType == 'ASC' ? '&uarr;':'&darr;') }}
                                            {% else %}
                                                &udarr;
                                            {% endif %}
                                        </a>
                                    {% endif %}
                                </th>
                            {% endblock %}
                        {% endfor %}
                        {% if identifierField and action|keys|length %}
                            <th class="text-end">{{ 'Actions'|trans }}</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% if entity.data.items|length %}
                        {% for row in entity.data.items %}
                            {% set rowIdentifier = row[entity.primaryColumn.field] ?? null %}
                            <tr id="row_{{ loop.index }}">
                                {% if rowIdentifier and form.batch.view.method is defined %}
                                    <td>
                                        <input type="checkbox" class="ids" name="batch[ids][]" value="{{ rowIdentifier }}"/>
                                    </td>
                                {% endif %}
                                {% for column in entity.columns %}
                                    {% set value = row[column.field] ?? null %}
                                    {% set columnBlockKey = 'column_' ~ column.alias %}
                                    {% set columnValueBlockKey = 'column_' ~ column.alias ~ '_value' %}
                                    {% if (block(columnBlockKey) is defined) and (block(columnBlockKey) is not empty) %}
                                        {{ block(columnBlockKey)|raw }}
                                    {% else %}
                                        {% block columnBlockKey %}
                                            <td>
                                                {% block columnValueBlockKey %}
                                                    {{ value }}
                                                {% endblock %}
                                            </td>
                                        {% endblock %}
                                    {% endif %}
                                {% endfor %}
                                {% if rowIdentifier and action|keys|length %}
                                <td class="text-end">
                                    {% for action in action|filter(a => a.object) %}
                                        <a href="{{ generatePath(action.name, {id: rowIdentifier}) }}"
                                           class="btn btn-sm btn-outside-secondary">
                                            <i class="fas fa-eye"></i>
                                            {{ action.title|trans }}
                                        </a>
                                    {% endfor %}
                                </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="{{ entity.columns|length + 1 + (form.batch.view.method is defined ? 1 : 0) }}">
                                {{ 'Not results found.'|trans }}
                            </td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        {% else %}
            {{ 'No found results'|trans }}
        {% endif %}

        <div class="actions d-flex flex-row flex-wrap align-items-center mb-3">
            {% if form.batch.view.method is defined %}
                <div class="btn-group me-2 mb-2">
                    <div class="input-group flex-nowrap">
                        {{ form_widget(form.batch.view.method, {attr: {class: 'form-control'}}) }}

                        <button type="submit" class="btn btn-outline-secondary">{{ 'Go'|trans }}</button>
                    </div>
                </div>
            {% endif %}
            <select id="results-limit" class="form-select w-auto mb-2 ms-auto">
                <option value="20">20</option>
                <option value="40">40</option>
                <option value="60">60</option>
                <option value="80">80</option>
                <option value="100">100</option>
            </select>
        </div>

        <div class="d-flex justify-content-center">
            {% include '@DakataaCrud/paginator.html.twig' with { data: entity.data, route: 'list'} %}
        </div>

        {{ form_end(form.batch.view, {'render_rest': false}) }}
    </div>
    <script type="text/javascript">
		let resultsLimit = document.querySelector('#results-limit');
		resultsLimit.value = {{ entity.data.meta.maxResults }};
		resultsLimit.addEventListener('change', function () {
			let url = new URL(document.location.href);
			url.searchParams.set('limit', resultsLimit.value);
			document.location = url;
		});
    </script>
{% endblock %}
